<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <script defer src="/js/render.js"></script>
  </head>
  <body>
	<h1>{{ title }}</h1>
  <ul>
  {% for person in people %}
   
    <li>{{ person.name }}</li>
   
  {% endfor %}
  
  <p>Button clicked: {{ buttonClicked }}</p>
  {% for button in buttonArray %}
    <li>{{ button.name }}</li>
    <button type="button" id="{{ button.name }}" onclick="buttonClicked(this.id);">{{ button.name }}</button>
  {% endfor %}
  </ul>
  
  <input id="RegB_Button" type="button" onclick="buttonClicked(this.id)" value="RegB" />
  </body>
</html>